@use '@app/styles/abstracts/variables' as v;

.not-found {
  min-height: 100vh;
  padding: 12rem v.$gutter;
  background: v.$lime;
  h1 {
    font-family: v.$font-serif;
    font-size: clamp(4rem, 10vw, 10rem);
    font-weight: 400;
    line-height: 0.85;
  }
  a {
    border-bottom: 1px solid;
  }
}
